<html>
<head>
    <title>To Node</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link href="styles.css" rel="stylesheet" type="text/css">
    <script src="shopping-list.js"></script>
</head>

<body>
    <div id="products-table">
        <form>
            <input type="text" name="product" placeholder="Add new To-Do..." required />
            <button type="submit">Add To-Do</button>
        </form>

        <ul>
            <% for(let i=0; i<products.length; i++) { %>
            <li><%=products[i].name %></li>
            <% } %>
        </ul>
    </div>
</body>

</html>